
.header {
	background-color: black;
	color: white;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 1000;
	font-size: 16px;
	border-radius: 0;
}

.header a {
color: white;
 text-decoration: none;
}

.header ul{
	padding: 0;
	/*height:38px;*/
	width:800px;
	border:1px solid #000;
	text-align:center;
	font-weight:bold;
	margin:auto auto 0px auto;
	/*font-size: 12px;*/
}

.header ul li{
	float: left;
	list-style-type:none;
	/*margin:5px;*/
	margin-left: 10px;
	margin-top: 8px;
}

.search {
	float: left;
	color: yellow;
	margin-left: 15em;
	margin-top: 3px;
}
/*.headerPadding{
	margin:5px auto auto auto;
	padding: 15px;
}*/

#downIcon {
	margin-bottom: -4px;
	width: 20px;
	height: 20px;
}

#homeIcon {
	margin-top: -4px;
}