.myDropDown ul{
    /*display: none;*/
    padding: 0px;
    margin: 0px;
    font-family:Arial;
    font-size: 15px;
    margin-right: 20px; 
    width: 120px;
    border-radius: 1px;
    height: 0;

}

.myDropDown ul li{
    display: none;
    list-style: none;
    position: relative;
    text-align: center;
    height: 30px;
    float: none;
}