script(src="/javascripts/myDropDown.js")
div.header
	ul
		li
			a(href="menzi.html")
				img(border="0" src="/images/home.jpg")
		li#myDropDown(status="closed")
			|陪聊资料
			img(src="/icon/dropDown3.ico" width="20" height="20")
			div.myDropDown
				ul#peiliaoDoc
					li
						a(href="http://www.baidu.com" target="blank") 周闷子
					li
						a(href="http://www.baidu.com" target="blank") 玉扃
		li 待定
		li 关于我
		li 关于我
		li 关于我
		li 
			a(href="aboutMe.html") 关于我
		li
			div.search search
				input(type="text" name="unknown" value="xxx")
				input(type="submit" value="走着")
