doctype html
html(ng-app="menziApp" ng-controller="menziController")
  head
    title= title
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/css1.css')
    link(rel='stylesheet', href='/stylesheets/header.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui-themes-1.11.2/themes/smoothness/jquery-ui.css')

    
    script(src="/javascripts/controller.js")
    script(src="/javascripts/zhoumenzi.js")
    script(src="/javascripts/yujiong.js")
    script(src="/javascripts/joke.js")
    script(src="/javascripts/wuya.js")
    script(src="/javascripts/toto.js")
    script(src="/javascripts/xiaolong.js")
    script(src="/javascripts/aming.js")
    script(src="/javascripts/variable.js")
    script(src="/javascripts/js2.js")
    script(src="/javascripts/dropDown.js")
    script(src="/javascripts/menzi.js")

    script(src="/javascripts/test.js")
    script(src="/javascripts/peiliaoDropDown.js")
    script(src="/javascripts/myDropDown.js")

    script(src="/javascripts/ckeditor/ckeditor.js")
    script(src='http://libs.baidu.com/jquery/2.0.0/jquery.js')
    script(src='http://libs.useso.com/js/jqueryui/1.10.4/jquery-ui.js')
    script(src='http://lib.sinaapp.com/js/angular.js/angular-1.2.19/angular.js')

  body(onkeydown="BindEnter(event)" onload="pageLoad()")
    div(ng-include="srcUrl") 
