doctype html
html(ng-app="menziApp" ng-controller="menziController")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://lib.sinaapp.com/js/angular.js/angular-1.2.19/angular.js')
    script(src="/javascripts/controller.js")
  body
    block content
